/* Hover */
#pulseaudio:hover {
    color: @hover-fg;
}

/* Warning */
#memory.warning,
#cpu.warning {
    color: @warning;
}

/* Critical */
#memory.critical,
#cpu.critical {
    color: @critical;
}
